h2, h3 {
  font-family: ale;
}

p {
  /*font-family: ale;*/
  line-height: 1.65;
}

.inlineB {
  display: inline-block;
}

/*media query*/
@media (min-width: 650px) {
  /*mobile-only*/
  .mobileOnly {
    display: none;
  }
}

/*hide item*/
.hide{
  display: none;
}

/*text colors*/
.blueText {
  color: #6af;
}
.greenText {
  color: #d0ffc0;
}
.lightBlueText,
.lightblueText {
  color: lightblue;
}
.lightGreenText,
.lightgreenText {
  color: #e0ffd0;
}
.lightPinkText,
.lightpinkText {
  color: lightpink;
}
.lightYellowText,
.lightyellowText {
  color: lightyellow;
}
.pinkText {
  color: lightpink;
}
.redText {
  color: #ffa0a0;
}
.whiteText {
  color: #fee;
}
.yellowText {
  color: #ffe0a0;
}
/*end of text colors*/
